[submodule "engine/asset/model-glTF"]
	path = engine/asset/model-glTF
	url = git@github.com:rocketman123456/glTF-Sample-Models.git
[submodule "engine/3rd_party/glfw"]
	path = engine/3rd_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/3rd_party/libzip"]
	path = engine/3rd_party/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "engine/3rd_party/VulkanMemoryAllocator"]
	path = engine/3rd_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "engine/3rd_party/volk"]
	path = engine/3rd_party/volk
	url = https://github.com/zeux/volk.git
