[submodule "engine/asset/model-glTF"]
	path = engine/asset/model-glTF
	url = git@github.com:rocketman123456/glTF-Sample-Models.git
[submodule "engine/3rd_party/glfw"]
	path = engine/3rd_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/3rd_party/libzip"]
	path = engine/3rd_party/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "engine/3rd_party/VulkanMemoryAllocator"]
	path = engine/3rd_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "engine/3rd_party/volk"]
	path = engine/3rd_party/volk
	url = https://github.com/zeux/volk.git
[submodule "engine/3rd_party/soloud"]
	path = engine/3rd_party/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "engine/3rd_party/ImGuizmo"]
	path = engine/3rd_party/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "engine/3rd_party/x9"]
	path = engine/3rd_party/x9
	url = https://github.com/df308/x9.git
[submodule "engine/3rd_party/imgui-node-editor"]
	path = engine/3rd_party/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "engine/3rd_party/imgui"]
	path = engine/3rd_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "engine/3rd_party/mustache"]
	path = engine/3rd_party/mustache
	url = https://github.com/kainjow/Mustache.git
[submodule "engine/3rd_party/eigen"]
	path = engine/3rd_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "engine/3rd_party/stb"]
	path = engine/3rd_party/stb
	url = https://github.com/nothings/stb.git
[submodule "engine/3rd_party/tinygltf"]
	path = engine/3rd_party/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "engine/3rd_party/tinyobjloader"]
	path = engine/3rd_party/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "engine/3rd_party/Vulkan-Headers"]
	path = engine/3rd_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "engine/3rd_party/json11"]
	path = engine/3rd_party/json11
	url = https://github.com/dropbox/json11.git
[submodule "engine/3rd_party/taskflow"]
	path = engine/3rd_party/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "engine/3rd_party/SPIRV-Headers"]
	path = engine/3rd_party/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "engine/3rd_party/Mesh"]
	path = engine/3rd_party/Mesh
	url = https://github.com/plasma-umass/Mesh.git
[submodule "engine/3rd_party/memory"]
	path = engine/3rd_party/memory
	url = https://github.com/foonathan/memory.git
